body {
	background:#bbe6f4;
  padding:5px 7px 5px 7px;
	margin:3%;
  background-image: #bbe6f4
}

h1,h2{
    text-transform : uppercase;
    text-decoration: underline;
    text-overflow: auto;
}

header{
  background-image : url(https://i.pinimg.com/originals/0b/6b/a8/0b6ba8e47cfb2932416f613eba76cf95.jpg);
  background-repeat: no-repeat;
  background-color:#c8f4ff;
  padding:20px 20px;
  background-size: 100%;
  padding: 1%;
}

nav{
  text-align: center;
  padding: 10px;
  box-sizing: 10px;
  border: 1px;
}

nav a{
  background-color: rgba(218,234,213,0.60);
  color: #000000;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.active{
  background: #FFFFFF;
}

h1{
  color: darkblue;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 50px;
  position: relative;
  top: -5px;
}

h2{
  color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  text-decoration: none;
}

li {
  text-decoration: none;
  font-size: 40px;
  font-weight: 15px;
  font-family: sans-serif;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

p{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 26px;
}
main {
	set the display: grid;
}
div {
  width: 20%;
  height: 200px;
  margin: 5px;
  box-sizing: border-box;
  border: 8px solid #000000;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
  box-sizing: border-box;
  border:1px;
  text-align: center;
  background: #a0555533;
}
section {
  text-align-last: right;
}